<p>
<!--   <strong>Member:</strong>
  <%#= @inventory_in_voucher.member.custom_object_label %> -->
</p>

<p>
  <strong>Created by user:</strong>
  <%= @inventory_in_voucher.created_by.custom_object_label %>
</p>

<p>
  <strong>Remarks:</strong>
  <%= @inventory_in_voucher.remarks %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @inventory_in_voucher.total_amount %>
</p>

<p>
  <strong>Number:</strong>
  <%= @inventory_in_voucher.voucher_number %>
</p>

<%= link_to 'New Invoice', new_inventory_in_voucher_url, id: 'open_new_invoice' %> | <%= link_to 'Edit', edit_inventory_in_voucher_path(@inventory_in_voucher) %> | <%= link_to 'Invoices Listing', inventory_in_vouchers_path %> | <%= link_to 'Delete', @inventory_in_voucher, method: :delete, data: { confirm: 'Are you sure?' } if current_power.destroyable_inventory_in_vouchers? %>
