<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @state.name %>
</p>

<p>
  <strong>Region:</strong>
  <%= @state.region_id %>
</p>

<p>
  <strong>Code:</strong>
  <%= @state.code %>
</p>

<p>
  <strong>Active:</strong>
  <%= @state.active %>
</p>

<%= link_to 'Edit', edit_state_path(@state) %> |
<%= link_to 'Back', states_path %>
