<p id="notice"><%= notice %></p>

<p>
<!--   <strong>Member:</strong>
  <%#= @order.member %> -->
</p>

<p>
  <strong>Currency:</strong>
  <%= @order.currency %>
</p>

<p>
  <strong>Remarks:</strong>
  <%= @order.remarks %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @order.amount %>
</p>

<p>
  <strong>Number:</strong>
  <%= @order.number %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
