<% provide(:title, 'Journal Vouchers listing') %>
<%= link_to 'New Journal Voucher', new_journal_voucher_path, class: 'pull-right' %>
<!-- <div class="table-responsive table-striped table-hover "> -->
<div class="display responsive no-wrap voucher_line_items">
  <table id='voucher_line_items' class='DataTable DataTable-line-items'>
    <thead>
      <tr>
        <th class='col-md-1 text-center'>Date</th>
        <th class='col-md-1 text-center'>Voucher #</th>
        <th class='col-md-1 text-center'>Ref #</th>
        <th class='col-md-2 text-center'>Amount</th>
        <th class='col-md-2 text-center'>Created by</th>
        <th class='col-md-3 text-center'>Operations</th>
      </tr>
    </thead>
    <tbody>
      <% @journal_vouchers.find_each do |journal_voucher| %>
        <tr>
          <td class='text-center'><%= journal_voucher.txn_date.strftime('%d/%m/%Y') %></td>
          <td class='text-center'><%= journal_voucher.number %></td>
          <td class='text-center'><%= journal_voucher.ref_number %></td>
          <td class='text-center'><%= sprintf '%.0f', journal_voucher.debit_entries.total_amount %></td>
          <td class='text-center'><%= journal_voucher.created_by.custom_object_label %></td>
          <td class='text-center'><%= link_to 'Show', journal_voucher %>
            | <%= link_to 'Edit', edit_journal_voucher_path(journal_voucher.id) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
