<% provide(:title, 'POS Invoice listing') %>
<%= link_to 'New Sale invoice', new_pos_invoice_path, class: 'pull-right' %>
<!-- <div class="table-responsive table-striped table-hover "> -->
<div class="display responsive no-wrap voucher_line_items">
  <table id='voucher_line_items' class='DataTable'>
    <thead>
      <tr>
        <th class='col-md-1 text-center'>Date</th>
        <th class='col-md-1 text-center'>Invoice #</th>
        <th class='col-md-3 text-center'>Entity :: Location</th>
        <th class='col-md-2 text-center'>Amount</th>
        <th class='col-md-2 text-center'>Created by</th>
        <th class='col-md-3 text-center'>Operations</th>
      </tr>
    </thead>
    <tbody>
      <% @pos_invoices.find_each do |pos_invoice| %>
        <tr>
          <td class='text-center'><%= pos_invoice.txn_date.strftime('%d/%m/%Y') %></td>
          <td class='text-center'><%= pos_invoice.number %></td>
          <td class='text-center'>
            <%= pos_invoice.location.entity_name_with_location %>
          </td>
          <td class='text-center'><%#= pos_invoice.total_amount %></td>
          <td class='text-center'><%= pos_invoice.created_by.custom_object_label %></td>
          <td class='text-center'><%#= link_to 'Show', pos_invoice %>
            <%= link_to "PDF version", pos_invoice_url(pos_invoice.id, format: "pdf"), target: :_blank %> | <%= link_to 'Edit', edit_pos_invoice_path(pos_invoice.id) if current_power.include_record?(:updatable, pos_invoice) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
